@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Knewave&family=Just+Another+Hand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";




html {
  scroll-behavior: smooth;
    font-family: "DM Sans", sans-serif;

}

body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Reset des styles par défaut */
* {
  box-sizing: border-box;
}

/* Amélioration de la lisibilité */



/* Correction de la visibilité initiale */
.section-title, .content-card, .contact-card, .feature-card {
  opacity: 1 !important;
  transform: translateY(0) !important;
}



/* Animation des éléments après chargement */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.animate-on-scroll.animated {
  opacity: 1;
  transform: translateY(0);
}




.background-formation{
background-image: url('/w1.jpg');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}


.background-carriere{
background-image: url('/w9.jpg');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}


.dm-sans{
  
}